{% extends 'home.html' %}

{% block title %}Profile Detail{% endblock %}

{% block body %}
<div class="grid-75">
  <h1>Profile Details</h1>
  <ul class="circle--group--list">
    <li>First Name: {{ profile.first_name }}</li>
    <li>Last Name: {{ profile.last_name }}</li>
    <li>Email: {{ profile.email }}</li>
    <li>Date of Birth: {{ profile.date_of_birth }}</li>
    <li>Biography: {{ profile.bio }}</li>
    <img class="circle--primary--avatar" src="{{ profile.avatar.url }}">
  </ul>
</div>

{% endblock %}
